@using GenderPayGap.Core
@using GovUkDesignSystemDotNet
@model GenderPayGap.WebUI.Models.AccountCreation.AlreadyCreatedAnAccountViewModel
@{
    ViewBag.Title = "Have you already created your user account - Gender pay gap service";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        @(await Html.GovUkErrorSummaryIfNeeded())

        <form method="POST" action="@Url.Action("AlreadyCreatedAnAccountQuestionPost", "AccountCreation")">

            @await Html.GovUkRadiosFor(
                m => m.HaveYouAlreadyCreatedYourUserAccount,
                new RadiosViewModel
                {
                    Fieldset = new FieldsetViewModel
                    {
                        Legend = new FieldsetLegendViewModel
                        {
                            HtmlOrText = new HtmlOrText("Have you previously created a user account?"),
                            Classes = ["govuk-fieldset__legend--xl", "govuk-!-margin-bottom-6"],
                            IsPageHeading = true
                        }
                    }
                }
            )

            <div class="govuk-inset-text">
                You will need to create your own user account even if someone else has
                previously reported your employer's gender pay gap.
            </div>

            @(await Html.GovUkButton(new()
            {
                HtmlOrText = new HtmlOrText("Continue")
            }))
            
            <p class="govuk-body">
                <a href="@(Global.StartUrl ?? Url.Action("ManageOrganisationsGet", "ManageOrganisations"))"
                   class="govuk-link">
                    Cancel
                </a>
            </p>

        </form>
        
    </div>
</div>
